body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../En_quelques_mots_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:22px;
    top:556px;
    width:103px;
    height:103px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:103px;
}

.u1 {
    position:absolute;
    left:2px;
    top:44px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../En_quelques_mots_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:160px;
    top:46px;
    width:433px;
    height:35px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:32px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:423px;
    height:25px
}

.u4_normal {
    background-image: url('../En_quelques_mots_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../En_quelques_mots_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:137px;
    top:0px;
    width:138px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../En_quelques_mots_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:275px;
    top:0px;
    width:143px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../En_quelques_mots_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:606px;
    top:49px;
    width:26px;
    height:26px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../En_quelques_mots_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:638px;
    top:49px;
    width:26px;
    height:26px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_container {
    position:absolute;
    left:674px;
    top:49px;
    width:26px;
    height:26px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../En_quelques_mots_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:163px;
    top:205px;
    width:424px;
    height:307px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:313px;
}

.u17 {
    position:absolute;
    left:2px;
    top:56px;
    width:420px;
    height:194px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_container {
    position:absolute;
    left:674px;
    top:49px;
    width:26px;
    height:26px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:606px;
    top:562px;
    width:144px;
    height:52px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_normal {
    background-image: url('../En_quelques_mots_files/u12_normal.png');
}

.u21_container {
    position:absolute;
    left:638px;
    top:49px;
    width:26px;
    height:26px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../En_quelques_mots_files/u10_normal.png');
}

.u23_container {
    position:absolute;
    left:606px;
    top:49px;
    width:26px;
    height:26px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../En_quelques_mots_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:22px;
    top:27px;
    width:106px;
    height:70px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:70px;
}

.u26 {
    position:absolute;
    left:2px;
    top:27px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:22px;
    top:97px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

